.monitor {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 95%;
    padding-left: 5%;
    margin: 0 auto;
    font-size: 1.1rem;
}

.data-element {
    display: flex;
    flex-direction: row;
}

.line-element {
    display: flex;
    flex-direction: row;
    width: 12%;
    margin: 3%;
}

.line-and-destination-container {
    display: flex;
    flex-direction: row;
    width: 20vw;
    margin: 5%;
    margin-left: 2%;
}

.destination-element {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 3%;
    margin-left: 50%;
    overflow-wrap: break-word;
    white-space: normal;
}

.countdown-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 5%;
    margin-left: 30%;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    /* IE, Edge */
    scrollbar-width: none;
}

.countdown-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.countdown-element {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 90%;
    gap: 25%;
    -ms-overflow-style: none;
    /* IE, Edge */
    scrollbar-width: none;
}

.countdown-element::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.signal-container {
    position: relative;
    margin-right: 10%;
}

.signal {
    position: absolute;
    animation: jump 800ms steps(2) infinite alternate;
    font-size: 0.6rem;
}

@keyframes jump {
    from {
        transform: translate(90%, 10%);
    }

    to {
        transform: translate(10%, 150%);
    }
}