.monitor {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 95%;
    padding-left: 5%;
    margin: 0 auto;
}

.data-element {
    display: flex;
    flex-direction: row;
}

.line-element {
    display: flex;
    flex-direction: row;
    width: 12%;
    margin: 3%;
}

.line-and-destination-container {
    display: flex;
    flex-direction: row;
    width: 20vw;
    margin: 5%;
    gap: 70%;
}

.destination-element {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 3%;
    overflow-wrap: break-word;
    white-space: normal;
}

.countdown-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 25%;
    padding: 5%;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    /* IE, Edge */
    scrollbar-width: none;
}

.countdown-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.countdown-element {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 90%;
    margin: 5% auto;
    gap: 25%;
    -ms-overflow-style: none;
    /* IE, Edge */
    scrollbar-width: none;
}

.countdown-element::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.signal-container {
    position: relative;
}

.signal {
    position: absolute;
    animation: jump 800ms steps(2) infinite alternate;
    margin-right: 35%;
    font-size: 50%;
}

@keyframes jump {
    from {
        transform: translate(100%, 10%);
    }

    to {
        transform: translate(10%, 130%);
    }
}