.welcome-screen {
    padding: 0;
    padding-left: 5%;
    display: flex;
    flex-direction: column;

    color: oklch(93.6% 0.032 17.717);
    height: 100vh;
}

.welcome-screen>h1 {
    align-self: center;
    margin-top: 0;
    padding: 0;
    font-size: 3rem;
}

.welcome-screen-logo {
    align-self: center;
    margin-bottom: 0;
    width: 60%;
    height: 30%;
}

.welcome-screen-instructions {
    margin-top: 5%;
    align-self: center;
}

.welcome-screen-instructions>p {
    margin-top: 1%;
    font-size: 1.5rem;
    font-weight: 300;
}

.welcome-screen-instructions>ul {
    display: flex;
    flex-direction: row;
    gap: 8%;
    margin-top: 10%;
    list-style-type: none;
    font-size: 1.15rem;
    font-weight: 800;
}

.welcome-screen-points {
    margin-top: 0;
    margin-left: 0;
    width: 3rem;
    height: 3rem;
}

.browser-icon-container {
    width: 2rem;
    height: 2rem;
    margin-top: 30%;
}

.qr-container {
    align-self: center;
    margin-top: 3%;
}

.welcome-screen-instructions>p.qr-code-text {
    align-self: center;
    margin-top: 1%;
}