body {
    background: oklch(39.6% 0.141 25.723);
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

.base {
    margin: 0;
    min-height: 100vh;
}

.search-area {
    position: sticky;
    top: 10%;
    z-index: 3;
}

.blur-zone {
    position: fixed;
    top: 0;
    padding-top: 0;
    left: 0;
    right: 0;
    height: 15%;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 10px oklch(39.6% 0.141 25.723);
    z-index: 2;
}