.welcome-screen {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    height: 100vh;
}

.welcome-screen>h1 {
    margin-top: 0;
    font-size: 4rem;
}

.welcome-screen>p {
    font-size: 1.5rem;
    font-weight: 300;
}

.welcome-screen>ul {
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin-top: 10%;
    list-style-type: none;
    font-size: 1.2rem;
    font-weight: 800;
}

.welcome-screen-points {
    margin-top: 10%;
    width: 3rem;
    height: 3rem;
}

.welcome-screen-logo {
    width: 40%;
    height: 40%;
    margin: 0 auto;
}