.welcome-screen {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 100vh;
}

.welcome-screen>h1 {
    margin-top: 10%;
    font-size: 4rem;
}

.welcome-screen>p {
    font-size: 1.5rem;
    font-weight: 700;
}

.welcome-screen>ul {
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin-top: 10%;
    list-style-type: none;
    font-size: 1.2rem;
    font-weight: 500;
}

.welcome-screen-points {
    margin-top: 10%;
    width: 3rem;
    height: 3rem;
}