.welcome-screen {
    padding: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: oklch(93.6% 0.032 17.717);
    height: 100vh;
}

.welcome-screen>h1 {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    padding: 0;
    font-size: 3rem;
}

.welcome-screen>p {
    margin-top: 5%;
    font-size: 1.5rem;
    font-weight: 300;
}

.welcome-screen>ul {
    display: flex;
    flex-direction: row;
    gap: 8%;
    margin-top: 10%;
    list-style-type: none;
    font-size: 1.15rem;
    font-weight: 800;
}

.welcome-screen-points {
    margin-top: 0;
    margin-left: 0;
    width: 3rem;
    height: 3rem;
}

.welcome-screen>h1>.welcome-screen-logo {
    position: absolute;
    width: 25%;
    height: 25%;
    padding: 0;
    margin: 0;
    left: 30%;
    top: 13%;
}

.safari-icon-container {
    width: 2rem;
    height: 2rem;
    margin-top: 30%;
}