.select-field-container {
    width: 90%;
    margin: 0 auto;
}

.select-field {
    position: absolute;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.25rem;
    padding-left: 5%;
    width: 90%;
    margin: 0 auto;
    border: none;
    border-radius: calc(1rem);
    background: none;
    background: var(--light, var(--primary-color)) var(--dark, var(--primary-color-3));
    box-shadow: inset 0 0 0 1px var(--light, var(--primary-color-6)) var(--dark, var(--primary-color-7));
    color: var(--secondary-color-4);
    cursor: pointer;
    gap: 0.25rem;
    transition: background-color 100ms ease-out;
    font-size: 1.2rem;
}

.select-field-item {
    margin-top: 1vh;
    margin-bottom: 1vh;
}